# Configuration file

client {
    B:allowUnpureCommands=true

    # Lets you open the pocket crafting table from GUIs
    B:anywherePocketCraft=true

    # Show invisible lamp-air
    B:debugLightAir=false

    # If true, enables a thread that dumps a stack trace of Minecraft if it is paused for longer than lagWatchDogInterval
    B:enableLagWatchDog=false

    # Make middle clicking more useful
    B:fixPickBlock=true

    # If the game is stuck for longer than this amount of time (in seconds), dump a stacktrace of what it is doing.
    D:lagWatchDogInterval=0.25

    # Render servo instructions extra-large. This can also be toggled on and off using '/f servoInstructionSize'.
    B:largeServoInstructions=false

    # (Broken; don't use this. Attempts to limit integrated server tick speed to match the client's, but can cause deadlocks.)
    B:limitIntegratedServer=false

    # Sets a lower bound on time dilation. Between 0 and 1.
    D:lowestTimeDilation=0.6000000238418579

    # 3 keys for: removing (x), cycling (c), balancing (b)
    S:pocketCraftingActionKeys=xcbf

    # If false, never use smooth lighting for drawing sculptures
    B:renderAmbientOcclusion=true

    # If true, render barrel info only when nearby
    B:renderBarrelClose=false
    B:renderBarrelItem=true
    B:renderBarrelText=true

    # If false, most TEs won't draw, making everything look broken but possibly improving FPS
    B:renderOtherTileEntities=true

    # If this is enabled, the client will run as slowly as the server does. This avoids visual artifacts on laggy servers.
    B:useTimeDilation=true
}


dimensionslices {
    # work in progress; may be unstable
    B:enableDimensionSlices=false
}


general {
    B:addBranding=false
    I:entityRelightTask=3

    # Set to false to disable broken bedrock spawning around dark iron ore
    B:generateBrokenBedrock=true

    # Set to false to disable dark iron ore generation
    B:generateDarkIronOre=true

    # Set to false to disable silver ore generation
    B:generateSilverOre=false

    # The size of silver ore nodes. Between 5 & 35. Default is 18
    I:silverOreNodeNewSize=12
}


retrogen {
    B:enableRetrogen=false
    B:retrogenDarkIron=false
    S:retrogenKey=DEFAULT
    B:retrogenSilver=false
}


server {
    # Adds recipes for bark variants of logs
    B:barkRecipes=true

    # If false, water must be piped in
    B:boilersSuckWater=true

    # Naming entities gives them +5 hearts
    B:buffedNametags=true

    # If set to true, then endermen will not pick up blocks.
    B:disableEndermenGriefing=true

    # Set to false to disable the crafting recipe for solar2steam machines
    B:enableSolarSteam=true

    # Causes some mobs to rarely spawn wearing your armor
    B:equalOpportunitiesForMobs=true

    # If set to false, fanturpellers will not move players.
    B:fanturpellerWorksOnPlayers=true

    # Textures giant mushroom blocks when placed
    B:mushroomNormalize=true

    # If set to true, players will find a docbook after getting iron
    B:playersDiscoverDocBooks=true

    # Makes projectiles start with the velocity of the thrower
    B:properProjectilePhysics=true

    # Set to false to let socket blocks detect redstone from their front; provided for legacy worlds.
    B:socketsIgnoreFacePower=true

    # Scale how much steam is produced by the solar boiler
    D:steamOutputAdjustment=1.0

    # If true, maximum clay lump volume is 1 m³ instead of (1 m³)/4
    B:stretchyClay=true

    # How many ticks the server will wait before sending out TPS reports. 20 ticks = 1 second, unless it's lagging.
    I:tpsReportInterval=20
}


