# Configuration file

"crafting settings" {
    # When enabled, Armor Plating items will be craftable, and thus armored jetpacks are available.
    B:"Armor Plating craftable"=true

    # When enabled, the Flux-Infused JetPlate will be craftable.
    B:"Flux-Infused JetPlate craftable"=true

    # When enabled, the Potato Jetpack will be craftable.
    B:"Potato Jetpack craftable"=true
}


"gui settings" {
    # When enabled, a HUD that displays your current jetpack's energy level will show.
    B:"Enable Energy HUD"=true

    # When enabled, switching jetpacks on or off will display chat messages.
    B:"Enable State Chat Messages"=false

    # When enabled, a HUD that displays your current jetpack's engine and hover mode state will show.
    B:"Enable State HUD"=true

    # The base position of the energy HUD on the screen. 0 = top left, 1 = top center, 2 = top right, 3 = left, 4 = right, 5 = bottom left, 6 = bottom right
    I:"Energy HUD Base Position"=0

    # The energy HUD display will be shifted horizontally by this value. This value may be negative.
    I:"Energy HUD Offset - X"=0

    # The energy HUD display will be shifted vertically by this value. This value may be negative.
    I:"Energy HUD Offset - Y"=0

    # How large the energy HUD will be rendered. Default is 1.0, can be bigger or smaller
    D:"Energy HUD Scale"=1.0

    # When enabled, the energy HUD will display the exact amount of RF other than just a percentage.
    B:"Exact energy amounts in Energy HUD"=false

    # When enabled, item details are only shown in the tooltip when holding Shift.
    B:"Hold Shift for Details"=true

    # When enabled, only the actual power amounts will be rendered on the energy HUD.
    B:"Minimal Energy HUD"=false

    # When enabled, the energy HUD will display even when the chat window is opened.
    B:"Show Energy HUD while chatting"=true
}


"item settings" {
    # When enabled, jetpacks will emit particles when active.
    B:"Enable jetpack particles"=true

    # The enchantability of the flux packs. Note that specific flux packs may be set not to be enchantable.
    I:"Flux Pack Enchantability"=8

    # Invert Hover Mode sneaking behavior
    B:"Invert Hover Mode sneaking behavior"=false

    # The enchantability of the jetpacks. Note that specific jetpacks may be set not to be enchantable.
    I:"Jetpack Enchantability"=20
}


"tuning - creative flux pack" {
    # The relative amount of damage that the ARMORED version of the flux pack will absorb when getting hit.
    D:"Armor Absorption"=0.5

    # How powerful the ARMORED version of the flux pack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=6

    # When enabled, this flux pack will be enchantable using enchantment tables or anvils.
    B:Enchantable=true

    # The rate, in RF per tick, at which this flux pack can charge other items.
    I:"Energy Out Rate"=20000
}


"tuning - creative jetpack" {
    # The relative amount of damage that the ARMORED version of the jetpack will absorb when getting hit.
    D:"Armor Absorption"=0.6

    # How powerful the ARMORED version of the jetpack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=8

    # When enabled, this jetpack will activate hover mode automatically when the wearer is about to die from a fall.
    B:"Emergency Hover Mode"=true

    # When enabled, this jetpack will be enchantable using enchantment tables or anvils.
    B:Enchantable=true

    # The rate, in RF per tick, at which this jetpack can charge other items.
    I:"Energy Out Rate"=20000

    # The speed of the jetpack when flying sideways. This is mostly noticeable in hover mode.
    D:"Sideways Speed"=0.19

    # The vertical acceleration of the jetpack when flying; every tick, this amount of vertical speed will be added until the jetpack reaches the maximum speed.
    D:"Vertical Acceleration"=0.15

    # The maximum vertical speed of the jetpack when flying.
    D:"Vertical Speed"=0.8

    # The maximum vertical speed of the jetpack when slowly descending in hover mode.
    D:"Vertical Speed (Hover Mode Slow Fall)"=0.0

    # The maximum vertical speed of the jetpack when flying in hover mode.
    D:"Vertical Speed (Hover Mode)"=0.4
}


"tuning - flux-infused jetplate" {
    # The relative amount of damage that the ARMORED version of the jetpack will absorb when getting hit.
    D:"Armor Absorption"=0.8

    # How powerful the ARMORED version of the jetpack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=8

    # The amount of energy that is consumed from the ARMORED version of the jetpack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=240

    # When enabled, this jetpack will activate hover mode automatically when the wearer is about to die from a fall.
    B:"Emergency Hover Mode"=true

    # When enabled, this jetpack will be enchantable using enchantment tables or anvils.
    B:Enchantable=true

    # The maximum amount of energy that the jetpack can hold.
    I:"Energy Capacity"=50000000

    # The rate, in RF per tick, at which this jetpack can charge other items.
    I:"Energy Out Rate"=20000

    # The amount of energy that the jetpack uses every tick when flying.
    I:"Energy Usage per Tick"=400

    # When enabled, this jetpack will have an inbuilt Flux Pack that can charge other items.
    B:"Has Charger"=true

    # The speed of the jetpack when flying sideways. This is mostly noticeable in hover mode.
    D:"Sideways Speed"=0.21

    # The vertical acceleration of the jetpack when flying; every tick, this amount of vertical speed will be added until the jetpack reaches the maximum speed.
    D:"Vertical Acceleration"=0.15

    # The maximum vertical speed of the jetpack when flying.
    D:"Vertical Speed"=0.9

    # The maximum vertical speed of the jetpack when slowly descending in hover mode.
    D:"Vertical Speed (Hover Mode Slow Fall)"=0.0

    # The maximum vertical speed of the jetpack when flying in hover mode.
    D:"Vertical Speed (Hover Mode)"=0.45
}


"tuning - hardened flux pack" {
    # The relative amount of damage that the ARMORED version of the flux pack will absorb when getting hit.
    D:"Armor Absorption"=0.2

    # How powerful the ARMORED version of the flux pack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=3

    # The amount of energy that is consumed from the ARMORED version of the flux pack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=80

    # When enabled, this flux pack will be enchantable using enchantment tables or anvils.
    B:Enchantable=false

    # The maximum amount of energy that this flux pack can hold.
    I:"Energy Capacity"=2000000

    # The rate, in RF per tick, at which this flux pack can be charged.
    I:"Energy In Rate"=400

    # The rate, in RF per tick, at which this flux pack can charge other items.
    I:"Energy Out Rate"=400
}


"tuning - hardened jetpack" {
    # The relative amount of damage that the ARMORED version of the jetpack will absorb when getting hit.
    D:"Armor Absorption"=0.3

    # How powerful the ARMORED version of the jetpack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=6

    # The amount of energy that is consumed from the ARMORED version of the jetpack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=80

    # When enabled, this jetpack will activate hover mode automatically when the wearer is about to die from a fall.
    B:"Emergency Hover Mode"=false

    # When enabled, this jetpack will be enchantable using enchantment tables or anvils.
    B:Enchantable=false

    # The maximum amount of energy that the jetpack can hold.
    I:"Energy Capacity"=400000

    # The amount of energy that the jetpack uses every tick when flying.
    I:"Energy Usage per Tick"=75

    # The speed of the jetpack when flying sideways. This is mostly noticeable in hover mode.
    D:"Sideways Speed"=0.04

    # The vertical acceleration of the jetpack when flying; every tick, this amount of vertical speed will be added until the jetpack reaches the maximum speed.
    D:"Vertical Acceleration"=0.11

    # The maximum vertical speed of the jetpack when flying.
    D:"Vertical Speed"=0.3

    # The maximum vertical speed of the jetpack when slowly descending in hover mode.
    D:"Vertical Speed (Hover Mode Slow Fall)"=0.1

    # The maximum vertical speed of the jetpack when flying in hover mode.
    D:"Vertical Speed (Hover Mode)"=0.18
}


"tuning - leadstone flux pack" {
    # When enabled, this flux pack will be enchantable using enchantment tables or anvils.
    B:Enchantable=false

    # The maximum amount of energy that this flux pack can hold.
    I:"Energy Capacity"=400000

    # The rate, in RF per tick, at which this flux pack can be charged.
    I:"Energy In Rate"=80

    # The rate, in RF per tick, at which this flux pack can charge other items.
    I:"Energy Out Rate"=80
}


"tuning - leadstone jetpack" {
    # The relative amount of damage that the ARMORED version of the jetpack will absorb when getting hit.
    D:"Armor Absorption"=0.2

    # How powerful the ARMORED version of the jetpack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=5

    # The amount of energy that is consumed from the ARMORED version of the jetpack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=80

    # When enabled, this jetpack will activate hover mode automatically when the wearer is about to die from a fall.
    B:"Emergency Hover Mode"=false

    # When enabled, this jetpack will be enchantable using enchantment tables or anvils.
    B:Enchantable=false

    # The maximum amount of energy that the jetpack can hold.
    I:"Energy Capacity"=25000

    # The amount of energy that the jetpack uses every tick when flying.
    I:"Energy Usage per Tick"=20

    # The speed of the jetpack when flying sideways. This is mostly noticeable in hover mode.
    D:"Sideways Speed"=0.0

    # The vertical acceleration of the jetpack when flying; every tick, this amount of vertical speed will be added until the jetpack reaches the maximum speed.
    D:"Vertical Acceleration"=0.1

    # The maximum vertical speed of the jetpack when flying.
    D:"Vertical Speed"=0.22

    # The maximum vertical speed of the jetpack when slowly descending in hover mode.
    D:"Vertical Speed (Hover Mode Slow Fall)"=0.14

    # The maximum vertical speed of the jetpack when flying in hover mode.
    D:"Vertical Speed (Hover Mode)"=0.18
}


"tuning - redstone flux pack" {
    # The relative amount of damage that the ARMORED version of the flux pack will absorb when getting hit.
    D:"Armor Absorption"=0.3

    # How powerful the ARMORED version of the flux pack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=4

    # The amount of energy that is consumed from the ARMORED version of the flux pack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=120

    # When enabled, this flux pack will be enchantable using enchantment tables or anvils.
    B:Enchantable=true

    # The maximum amount of energy that this flux pack can hold.
    I:"Energy Capacity"=10000000

    # The rate, in RF per tick, at which this flux pack can be charged.
    I:"Energy In Rate"=2000

    # The rate, in RF per tick, at which this flux pack can charge other items.
    I:"Energy Out Rate"=2000
}


"tuning - reinforced jetpack" {
    # The relative amount of damage that the ARMORED version of the jetpack will absorb when getting hit.
    D:"Armor Absorption"=0.4

    # How powerful the ARMORED version of the jetpack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=7

    # The amount of energy that is consumed from the ARMORED version of the jetpack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=80

    # When enabled, this jetpack will activate hover mode automatically when the wearer is about to die from a fall.
    B:"Emergency Hover Mode"=true

    # When enabled, this jetpack will be enchantable using enchantment tables or anvils.
    B:Enchantable=true

    # The maximum amount of energy that the jetpack can hold.
    I:"Energy Capacity"=2000000

    # The amount of energy that the jetpack uses every tick when flying.
    I:"Energy Usage per Tick"=150

    # The speed of the jetpack when flying sideways. This is mostly noticeable in hover mode.
    D:"Sideways Speed"=0.14

    # The vertical acceleration of the jetpack when flying; every tick, this amount of vertical speed will be added until the jetpack reaches the maximum speed.
    D:"Vertical Acceleration"=0.12

    # The maximum vertical speed of the jetpack when flying.
    D:"Vertical Speed"=0.48

    # The maximum vertical speed of the jetpack when slowly descending in hover mode.
    D:"Vertical Speed (Hover Mode Slow Fall)"=0.03

    # The maximum vertical speed of the jetpack when flying in hover mode.
    D:"Vertical Speed (Hover Mode)"=0.34
}


"tuning - resonant flux pack" {
    # The relative amount of damage that the ARMORED version of the flux pack will absorb when getting hit.
    D:"Armor Absorption"=0.4

    # How powerful the ARMORED version of the flux pack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=5

    # The amount of energy that is consumed from the ARMORED version of the flux pack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=160

    # When enabled, this flux pack will be enchantable using enchantment tables or anvils.
    B:Enchantable=true

    # The maximum amount of energy that this flux pack can hold.
    I:"Energy Capacity"=50000000

    # The rate, in RF per tick, at which this flux pack can be charged.
    I:"Energy In Rate"=10000

    # The rate, in RF per tick, at which this flux pack can charge other items.
    I:"Energy Out Rate"=10000
}


"tuning - resonant jetpack" {
    # The relative amount of damage that the ARMORED version of the jetpack will absorb when getting hit.
    D:"Armor Absorption"=0.6

    # How powerful the ARMORED version of the jetpack will show up on the ingame GUI. The higher the value, the more armor points show up.
    I:"Armor Display"=8

    # The amount of energy that is consumed from the ARMORED version of the jetpack when getting hit. This value will be multiplied by the amount of damage done.
    I:"Armor Energy Per Hit"=80

    # When enabled, this jetpack will activate hover mode automatically when the wearer is about to die from a fall.
    B:"Emergency Hover Mode"=true

    # When enabled, this jetpack will be enchantable using enchantment tables or anvils.
    B:Enchantable=true

    # The maximum amount of energy that the jetpack can hold.
    I:"Energy Capacity"=10000000

    # The amount of energy that the jetpack uses every tick when flying.
    I:"Energy Usage per Tick"=400

    # The speed of the jetpack when flying sideways. This is mostly noticeable in hover mode.
    D:"Sideways Speed"=0.19

    # The vertical acceleration of the jetpack when flying; every tick, this amount of vertical speed will be added until the jetpack reaches the maximum speed.
    D:"Vertical Acceleration"=0.15

    # The maximum vertical speed of the jetpack when flying.
    D:"Vertical Speed"=0.8

    # The maximum vertical speed of the jetpack when slowly descending in hover mode.
    D:"Vertical Speed (Hover Mode Slow Fall)"=0.005

    # The maximum vertical speed of the jetpack when flying in hover mode.
    D:"Vertical Speed (Hover Mode)"=0.4
}


"tuning - tuberous jetpack" {
    # The maximum amount of energy that the jetpack can hold.
    I:"Energy Capacity"=1200

    # The amount of energy that the jetpack uses every tick when flying.
    I:"Energy Usage per Tick"=45

    # The vertical acceleration of the jetpack when flying; every tick, this amount of vertical speed will be added until the jetpack reaches the maximum speed.
    D:"Vertical Acceleration"=0.5

    # The maximum vertical speed of the jetpack when flying.
    D:"Vertical Speed"=0.9
}


