# Configuration file

client {
    B:CTMRenderer=true
    B:EnableMachineSounds=false
    B:EnablePlayerSounds=true
    B:FancyUniversalCableRender=true
    B:Holidays=true
    B:MachineEffects=true
    B:OldTransmitterRender=false

    # If true, will reduce lagging between player sounds. Setting to false will reduce GC load
    B:ReplaceSoundsWhenResuming=true
    D:SoundVolume=1.0
}


general {
    B:AestheticWorldDamage=true
    B:AllowSpawnerBoxPickup=true
    I:AmbientLightingLevel=15
    I:ArmoredJepackDamageMax=115
    D:ArmoredJetpackDamageRatio=0.8
    B:BlacklistBuildCraftPower=false
    B:BlacklistIC2Power=false
    B:BlacklistRFPower=false
    I:ClientUpdateDelay=10
    B:ControlCircuitOreDict=true
    I:CopperPerChunk=0
    B:CreativeOverrideElectricChest=true
    B:DestroyDisabledBlocks=true
    I:DisassemblerEnergyUsage=10
    B:DynamicTankEasterEgg=false
    D:EUToJoules=0.1
    B:EnableAmbientLighting=true
    B:EnableSounds=true
    B:EnableWorldRegeneration=false
    D:EnergyPerRedstone=10000.0
    S:EnergyType=RF
    I:EthyleneBurnTime=40
    B:FancyUniversalCableRender=true
    B:Holidays=true

    # Determines Electrolytic Separator usage
    D:HydrogenEnergyDensity=300.0
    D:JoulesToEU=10.0
    D:JoulesToMJ=25.0
    D:JoulesToRF=2.5
    I:LaserDiggingEnergy=100000
    I:LaserRange=64
    B:LogPackets=false
    D:MJToJoules=0.04
    B:MachineEffects=true
    I:MaxFlamethrowerGas=24000
    I:MaxJetpackGas=24000
    I:MaxScubaGas=24000
    I:MinerSilkMultiplier=6
    I:ObsidianTNTBlastRadius=12
    I:ObsidianTNTDelay=100
    B:OpsBypassRestrictions=true
    I:OsmiumPerChunk=10
    B:PrefilledPortableTanks=false
    D:RFToJoules=0.4
    D:SalinationPlantSpeed=40.0
    I:SaltPerChunk=2
    D:SolarEvaporationSpeed=1.0
    D:SoundVolume=1.0
    B:SpawnBabySkeletons=true
    S:"Temperature Units"=K
    I:TinPerChunk=0
    B:UpdateNotifications=false
    I:UpgradeModifier=10
    I:VoicePort=36123
    B:VoiceServerEnabled=false
    I:WorldRegenVersion=0
}


generation {
    D:AdvancedSolarGeneration=300.0
    D:BioGeneration=350.0
    D:HeatGeneration=50.0
    D:HeatGenerationLava=5.0
    D:HeatGenerationNether=100.0
    D:SolarGeneration=50.0
    D:WindGenerationMax=400.0
    I:WindGenerationMaxY=255
    D:WindGenerationMin=50.0
    I:WindGenerationMinY=24
}


machines {
    B:ChargepadEnabled=true
    B:ChemicalCrystallizerEnabled=true
    B:ChemicalDissolutionChamberEnabled=true
    B:ChemicalInfuserEnabled=true
    B:ChemicalInjectionChamberEnabled=true
    B:ChemicalOxidizerEnabled=true
    B:ChemicalWasherEnabled=true
    B:CombinerEnabled=true
    B:CrusherEnabled=true
    B:DigitalMinerEnabled=true
    B:ElectricChestEnabled=true
    B:ElectricPumpEnabled=true
    B:ElectrolyticSeparatorEnabled=true
    B:EnergizedSmelterEnabled=true
    B:EnrichmentChamberEnabled=true
    B:FactoryEnabled=true
    B:FluidicPlenisherEnabled=true
    B:LaserAmplifierEnabled=true
    B:LaserEnabled=true
    B:LaserTractorBeamEnabled=true
    B:LogisticalSorterEnabled=true
    B:MetallurgicInfuserEnabled=true
    B:OredictionificatorEnabled=true
    B:OsmiumCompressorEnabled=true
    B:PortableTankEnabled=true
    B:PrecisionSawmillEnabled=true
    B:PressurizedReactionChamberEnabled=true
    B:PurificationChamberEnabled=true
    B:RotaryCondensentratorEnabled=true
    B:SeismicVibratorEnabled=true
    B:SolarNeutronActivatorEnabled=true
    B:TeleporterEnabled=true
}


tier {
    I:AdvancedCableCapacity=12800
    D:AdvancedEnergyCubeMaxEnergy=8000000.0
    D:AdvancedEnergyCubeOutput=3200.0
    D:AdvancedInductionCellMaxEnergy=8.0E9
    D:AdvancedInductionProviderOutput=512000.0
    I:AdvancedPipeCapacity=4000
    I:AdvancedPipePullAmount=400
    I:AdvancedTransporterPullAmount=16
    I:AdvancedTransporterSpeed=10
    I:AdvancedTubeCapacity=1024
    I:AdvancedTubePullAmount=256
    I:BasicCableCapacity=3200
    D:BasicEnergyCubeMaxEnergy=2000000.0
    D:BasicEnergyCubeOutput=800.0
    D:BasicInductionCellMaxEnergy=1.0E9
    D:BasicInductionProviderOutput=64000.0
    I:BasicPipeCapacity=1000
    I:BasicPipePullAmount=100
    I:BasicTransporterPullAmount=1
    I:BasicTransporterSpeed=5
    I:BasicTubeCapacity=256
    I:BasicTubePullAmount=64
    D:CreativeEnergyCubeMaxEnergy=2.147483647E9
    D:CreativeEnergyCubeOutput=2.147483647E9
    I:EliteCableCapacity=64000
    D:EliteEnergyCubeMaxEnergy=3.2E7
    D:EliteEnergyCubeOutput=12800.0
    D:EliteInductionCellMaxEnergy=6.4E10
    D:EliteInductionProviderOutput=4096000.0
    I:ElitePipeCapacity=16000
    I:ElitePipePullAmount=1600
    I:EliteTransporterPullAmount=32
    I:EliteTransporterSpeed=20
    I:EliteTubeCapacity=4096
    I:EliteTubePullAmount=1024
    I:UltimateCableCapacity=320000
    D:UltimateEnergyCubeMaxEnergy=1.28E8
    D:UltimateEnergyCubeOutput=51200.0
    D:UltimateInductionCellMaxEnergy=5.12E11
    D:UltimateInductionProviderOutput=3.2768E7
    I:UltimatePipeCapacity=64000
    I:UltimatePipePullAmount=6400
    I:UltimateTransporterPullAmount=64
    I:UltimateTransporterSpeed=50
    I:UltimateTubeCapacity=16384
    I:UltimateTubePullAmount=4096
}


tools {

    general {
        D:MobArmorSpawnRate=0.03
    }

    tool-balance {

        obsidian {

            regular {
                I:damage=10
                D:efficiency=20.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=2500
            }

            paxel {
                I:damage=10
                D:efficiency=25.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=3000
            }

        }

        lapis {

            regular {
                I:damage=2
                D:efficiency=5.0
                I:enchantability=22
                I:harvestLevel=2
                I:maxUses=200
            }

            paxel {
                I:damage=4
                D:efficiency=6.0
                I:enchantability=50
                I:harvestLevel=2
                I:maxUses=250
            }

        }

        osmium {

            regular {
                I:damage=4
                D:efficiency=10.0
                I:enchantability=30
                I:harvestLevel=2
                I:maxUses=500
            }

            paxel {
                I:damage=5
                D:efficiency=12.0
                I:enchantability=40
                I:harvestLevel=3
                I:maxUses=700
            }

        }

        bronze {

            regular {
                I:damage=6
                D:efficiency=14.0
                I:enchantability=100
                I:harvestLevel=2
                I:maxUses=800
            }

            paxel {
                I:damage=10
                D:efficiency=16.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=1100
            }

        }

        glowstone {

            regular {
                I:damage=5
                D:efficiency=14.0
                I:enchantability=80
                I:harvestLevel=2
                I:maxUses=300
            }

            paxel {
                I:damage=5
                D:efficiency=18.0
                I:enchantability=100
                I:harvestLevel=2
                I:maxUses=450
            }

        }

        steel {

            regular {
                I:damage=4
                D:efficiency=14.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=850
            }

            paxel {
                I:damage=8
                D:efficiency=18.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=1250
            }

        }

    }

    armor-balance {

        obsidian {
            I:durability=50
            I:enchantability=50

            protection {
                I:chest=12
                I:feet=5
                I:head=5
                I:legs=8
            }

        }

        lapis {
            I:durability=13
            I:enchantability=50

            protection {
                I:chest=5
                I:feet=2
                I:head=2
                I:legs=6
            }

        }

        osmium {
            I:durability=30
            I:enchantability=50

            protection {
                I:chest=5
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

        bronze {
            I:durability=35
            I:enchantability=50

            protection {
                I:chest=6
                I:feet=2
                I:head=3
                I:legs=5
            }

        }

        glowstone {
            I:durability=18
            I:enchantability=50

            protection {
                I:chest=7
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

        steel {
            I:durability=40
            I:enchantability=50

            protection {
                I:chest=7
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

    }

}


usage {
    D:ChemicalCrystallizerUsage=500.0
    D:ChemicalDissolutionChamberUsage=450.0
    D:ChemicalInfuserUsage=220.0
    D:ChemicalInjectionChamberUsage=450.0
    D:ChemicalWasherUsage=225.0
    D:CombinerUsage=60.0
    D:CrusherUsage=40.0
    D:DigitalMinerUsage=200.0
    D:ElectricPumpUsage=100.0
    D:EnergizedSmelterUsage=50.0
    D:EnrichmentChamberUsage=50.0
    D:FactoryUsage=70.0
    D:FluidicPlenisherUsage=100.0
    D:GasCentrifugeUsage=100.0
    D:HeavyWaterElectrolysisUsage=800.0
    D:LaserUsage=5000.0
    D:MetallurgicInfuserUsage=60.0
    D:OsmiumCompressorUsage=100.0
    D:OxidationChamberUsage=200.0
    D:PrecisionSawmillUsage=40.0
    D:PressurizedReactionBaseUsage=5.0
    D:PurificationChamberUsage=200.0
    D:RotaryCondensentratorUsage=50.0
    D:SeismicVibratorUsage=50.0
}


