# Configuration file

general {
    B:ColorBlindTextures=false
    B:DrawGUISlotBorders=true

    # Set to false to disable all animated texutres in minecraft
    B:EnableAnimatedTextures=true

    # Set to false to disable any particles from spawning in minecraft.
    B:EnableParticles=true

    # Set to false to disable rendering from sorting chunks
    B:EnableRenderSorting=true
}


sound {
    B:Machine.Accumulator=true
    B:Machine.Crucible=true
    B:Machine.Furnace=true
    B:Machine.Pulverizer=true
    B:Machine.Sawmill=true
    B:Machine.Smelter=true
    B:Machine.Transposer=true
    D:Volume=1.0
}


tab {

    augment {
        I:ColorBackground=564812
        I:ColorHeader=14797103
        I:ColorSubHeader=11186104
        I:ColorText=0
        I:Side=1
    }

    configuration {
        I:ColorBackground=2254472
        I:ColorHeader=14797103
        I:ColorSubHeader=11186104
        I:ColorText=0
        I:Side=1
    }

    energy {
        I:ColorBackgroundConsumer=685776
        I:ColorBackgroundProducer=13657355
        I:ColorHeader=14797103
        I:ColorSubHeader=11186104
        I:ColorText=0
        I:Side=0
    }

    information {
        I:ColorBackground=5592405
        I:ColorHeader=14797103
        I:ColorSubHeader=11186104
        I:ColorText=16777215
        B:Enable=true
        I:Side=0
    }

    redstone {
        I:ColorBackground=13640458
        I:ColorHeader=14797103
        I:ColorSubHeader=11186104
        I:ColorText=0
        I:Side=1
    }

    security {
        I:ColorBackground=8947848
        I:ColorHeader=14797103
        I:ColorSubHeader=11186104
        I:ColorText=0
        I:Side=1
    }

    tutorial {
        I:ColorBackground=5900731
        I:ColorHeader=14797103
        I:ColorSubHeader=11186104
        I:ColorText=16777215
        B:Enable=true
        I:Side=0
    }

}


