# Configuration file

"!: enable heavy duty workspace" {
    #  [default: true]
    B:"If disabled, all crafting recipes will be vanilla crafting table recipes, and the Heavy Duty Workspace will be disabled"=true
}


"!: enable shift click into workspace grid" {
    #  [default: false]
    B:"If enabled, shift clicking items in the Heavy Duty Workspace will move items into the crafting grid"=false
}


0 {

    "0: copper ore" {
        #  [range: 1 ~ 100, default: 8]
        I:"Chunk Size"=8

        #  [range: 1 ~ 100, default: 12]
        I:"Gen Rate"=12

        #  [default: true]
        B:Generation=false

        #  [range: 1 ~ 255, default: 60]
        I:"Max Height"=60
    }

    "1: tin ore" {
        #  [range: 1 ~ 100, default: 8]
        I:"Chunk Size"=8

        #  [range: 1 ~ 100, default: 11]
        I:"Gen Rate"=11

        #  [default: true]
        B:Generation=false

        #  [range: 1 ~ 255, default: 60]
        I:"Max Height"=60
    }

    "2: lead ore" {
        #  [range: 1 ~ 100, default: 7]
        I:"Chunk Size"=7

        #  [range: 1 ~ 100, default: 11]
        I:"Gen Rate"=11

        #  [default: true]
        B:Generation=false

        #  [range: 1 ~ 255, default: 40]
        I:"Max Height"=40
    }

    "3: silver ore" {
        #  [range: 1 ~ 100, default: 7]
        I:"Chunk Size"=7

        #  [range: 1 ~ 100, default: 10]
        I:"Gen Rate"=10

        #  [default: true]
        B:Generation=false

        #  [range: 1 ~ 255, default: 40]
        I:"Max Height"=40
    }

    "4: uranium ore" {
        #  [range: 1 ~ 100, default: 10]
        I:"Chunk Size"=10

        #  [range: 1 ~ 100, default: 2]
        I:"Gen Rate"=2

        #  [default: true]
        B:Generation=true

        #  [range: 1 ~ 255, default: 36]
        I:"Max Height"=36
    }

    "5: thorium ore" {
        #  [range: 1 ~ 100, default: 7]
        I:"Chunk Size"=7

        #  [range: 1 ~ 100, default: 2]
        I:"Gen Rate"=2

        #  [default: true]
        B:Generation=true

        #  [range: 1 ~ 255, default: 36]
        I:"Max Height"=36
    }

    "6: lithium ore" {
        #  [range: 1 ~ 100, default: 7]
        I:"Chunk Size"=7

        #  [range: 1 ~ 100, default: 7]
        I:"Gen Rate"=7

        #  [default: true]
        B:Generation=true

        #  [range: 1 ~ 255, default: 32]
        I:"Max Height"=32
    }

    "7: boron ore" {
        #  [range: 1 ~ 100, default: 7]
        I:"Chunk Size"=7

        #  [range: 1 ~ 100, default: 7]
        I:"Gen Rate"=7

        #  [default: true]
        B:Generation=true

        #  [range: 1 ~ 255, default: 24]
        I:"Max Height"=24
    }

    "8: magnesium ore" {
        #  [range: 1 ~ 100, default: 7]
        I:"Chunk Size"=7

        #  [range: 1 ~ 100, default: 7]
        I:"Gen Rate"=7

        #  [default: true]
        B:Generation=true

        #  [range: 1 ~ 255, default: 24]
        I:"Max Height"=24
    }

    "9: plutonium ore" {
        #  [range: 1 ~ 100, default: 17]
        I:"Chunk Size"=17

        #  [range: 1 ~ 100, default: 1]
        I:"Gen Rate"=1

        #  [default: true]
        B:Generation=true

        #  [range: 1 ~ 255, default: 255]
        I:"Max Height"=255
    }

    "10: world gen" {
        #  [range: 0 ~ 10, default: 0]
        I:"Liquid Helium Gen Rate in End"=0
    }

}


1 {

    "0: rf machines" {
        #  [range: 10 ~ 1000, default: 100]
        I:"Assembler Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Assembler Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Decay Hastener Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Decay Hastener Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Electic Crusher Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Electic Crusher Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Electic Furnace Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Electic Furnace Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Electrolyser Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Electrolyser Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Fuel Recycler Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Fuel Recycler Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Helium Extractor Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Helium Extractor Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Ioniser Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Ioniser Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Isotope Separator Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Isotope Separator Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Manufactory Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Manufactory Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Neutron Irradiator Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Neutron Irradiator Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Oxidiser Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Oxidiser Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Supercooler Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Supercooler Speed Multiplier"=100
    }

    "1: rf generators" {
        #  [range: 1 ~ 1000, default: 40]
        I:"Americium RTG RF/t"=40

        #  [range: 1 ~ 1000, default: 500]
        I:"Californium RTG RF/t"=500

        #  [range: 1 ~ 1000, default: 100]
        I:"Plutonium RTG RF/t"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Reaction Generator Efficiency Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Reaction Generator RF/t"=100

        #  [range: 1 ~ 1000, default: 10]
        I:"Solar Panel RF/t"=10

        #  [range: 1 ~ 1000, default: 5]
        I:"WRTG RF/t"=5
    }

    "2: non-rf machines" {
        #  [range: 10 ~ 1000, default: 100]
        I:"Crusher Fuel Usage Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Crusher Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Helium Collector Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Metal Furnace Fuel Usage Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Metal Furnace Speed Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Nuclear Furnace Fuel Usage Multiplier"=100

        #  [range: 10 ~ 1000, default: 100]
        I:"Nuclear Furnace Speed Multiplier"=100
    }

    "3: rf storage" {
        #  [range: 1 ~ 100000000, default: 10000000]
        I:"Lithium Ion Battery RF"=10000000

        #  [range: 1 ~ 100000000, default: 1000000]
        I:"Voltaic Pile RF"=1000000
    }

    "4: steam manipulators" {
        #  [range: 1 ~ 100, default: 2]
        I:"Steam Decompressor Rate"=2

        #  [range: 1 ~ 100000, default: 2000]
        I:"Steam Generator Usage Rate"=2000
    }

    "5: explosions" {
        #  [range: 10 ~ 1000, default: 100]
        I:"General Explosion Radius Modifier"=10
    }

}


2 {

    "0: mobs" {
        #  [default: true]
        B:"Enable Nuclear Monsters Spawning"=true

        #  [default: true]
        B:"Enable Paul"=true
    }

    "1: other" {
        #  [range: 0 ~ 10, default: 2]
        I:"Dungeon Loot Frequency"=2

        #  [default: true]
        B:"Enable EMP Weapon"=true

        #  [default: true]
        B:"Enable Extra Mob and Ore Drops"=true

        #  [default: true]
        B:"Enable Loot in Generated Chests"=true

        #  [default: true]
        B:"Enable Nuclear and Antimatter Weapons"=true
    }

}


