# Configuration file

clientsettings {
    I:AlchemyHUDxOffset=50
    I:AlchemyHUDyOffset=2
}


"dungeon loot chances" {
    I:averageLengtheningCatalyst=10
    I:averagePowerCatalyst=10
    I:greaterLengtheningCatalyst=5
    I:greaterPowerCatalyst=5
    I:mundaneLengtheningCatalyst=20
    I:mundanePowerCatalyst=20
    I:standardBindingAgent=30
}


meteor {
    S:diamondMeteor <
        oreDiamond
        100
        oreEmerald
        75
        oreCinnabar
        200
        oreAmber
        200
     >
    I:diamondMeteorRadius=5
    B:doMeteorsDestroyBlocks=true
    S:ironBlockMeteor <
        oreIron
        400
        oreGold
        30
        oreCopper
        200
        oreTin
        140
        oreSilver
        70
        oreLead
        80
        oreLapis
        60
        oreRedstone
        100
     >
    I:ironBlockMeteorRadius=7
    I:maxChance=1000
    S:netherStarMeteor <
        oreDiamond
        150
        oreEmerald
        100
        oreQuartz
        250
        oreSunstone
        5
        oreMoonstone
        50
        oreIridium
        5
        oreCertusQuartz
        150
     >
    I:netherStarMeteorRadius=3
    S:stoneBlockMeteor <
        oreCoal
        150
        oreApatite
        50
        oreIron
        50
     >
    I:stoneMeteorRadius=16
}


orecrushing {
    S:allowedOres <
        iron
        gold
        copper
        tin
        lead
        silver
        osmium
     >
}


"potion id" {
    I:Boost=101
    I:Deaf=113
    I:Drowning=100
    I:FeatherFall=114
    I:FireFuse=109
    I:FlameCloak=106
    I:Flight=104
    I:HeavyHeart=108
    I:IceCloak=107
    I:Inhibit=103
    I:PlanarBinding=110
    I:ProjProt=102
    I:Reciprocation=105
    I:SoulFray=111
    I:SoulHarden=112
}


wellofsufferingblacklist {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:AlienVillager=false
    B:Bat=false
    B:BiomesOPlenty.Bird=false
    B:BiomesOPlenty.Glob=false
    B:BiomesOPlenty.JungleSpider=false
    B:BiomesOPlenty.Phantom=false
    B:BiomesOPlenty.Pixie=false
    B:BiomesOPlenty.Rosester=false
    B:BiomesOPlenty.Wasp=false
    B:Blaze=false
    B:Blizz=false
    B:"Botania.botania:doppleganger"=false
    B:"Botania.botania:pixie"=false
    B:"BuildCraft|Core.bcRobotBuilder"=false
    B:"BuildCraft|Core.bcRobotPicker"=false
    B:"BuildCraft|Core.bcRobotUrbanism"=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:EnderDragon=false
    B:Enderman=false
    B:EntityHorse=false
    B:EvolvedCreeper=false
    B:EvolvedSkeleton=false
    B:EvolvedSkeletonBoss=false
    B:EvolvedSpider=false
    B:EvolvedZombie=false
    B:Forestry.butterflyGE=false
    B:Ghast=false
    B:Giant=false
    B:LavaSlime=false
    B:Mekanism.Robit=false
    B:MineFactoryReloaded.mfrEntityPinkSlime=false
    B:MushroomCow=false
    B:Natura.FlameSpider=false
    B:Natura.FlameSpiderBaby=false
    B:Natura.Imp=false
    B:Natura.NitroCreeper=false
    B:OpenBlocks.Luggage=false
    B:OpenBlocks.MiniMe=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:PneumaticCraft.Drone=false
    B:RandomThings.spirit=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.EldritchGuardian=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.MindSpider=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:"TwilightForest.Bighorn Sheep"=false
    B:"TwilightForest.Block&Chain Goblin"=false
    B:TwilightForest.Boggard=false
    B:"TwilightForest.Death Tome"=false
    B:"TwilightForest.Fire Beetle"=false
    B:TwilightForest.Firefly=false
    B:"TwilightForest.Forest Bunny"=false
    B:"TwilightForest.Forest Raven"=false
    B:"TwilightForest.Forest Squirrel"=false
    B:"TwilightForest.Hedge Spider"=false
    B:"TwilightForest.Helmet Crab"=false
    B:"TwilightForest.Hostile Wolf"=false
    B:TwilightForest.Hydra=false
    B:TwilightForest.HydraHead=false
    B:"TwilightForest.King Spider"=false
    B:"TwilightForest.Knight Phantom"=false
    B:"TwilightForest.Lich Minion"=false
    B:"TwilightForest.Lower Goblin Knight"=false
    B:"TwilightForest.Loyal Zombie"=false
    B:"TwilightForest.Maze Slime"=false
    B:"TwilightForest.Mini Ghast"=false
    B:TwilightForest.Minoshroom=false
    B:TwilightForest.Minotaur=false
    B:"TwilightForest.Mist Wolf"=false
    B:"TwilightForest.Mosquito Swarm"=false
    B:TwilightForest.Naga=false
    B:TwilightForest.Penguin=false
    B:"TwilightForest.Pinch Beetle"=false
    B:"TwilightForest.Questing Ram"=false
    B:TwilightForest.Redcap=false
    B:"TwilightForest.Redcap Sapper"=false
    B:"TwilightForest.Redscale Broodling"=false
    B:"TwilightForest.Skeleton Druid"=false
    B:"TwilightForest.Slime Beetle"=false
    B:TwilightForest.SnowGuardian=false
    B:"TwilightForest.Swarm Spider"=false
    B:"TwilightForest.Tiny Bird"=false
    B:"TwilightForest.Tower Boss"=false
    B:"TwilightForest.Tower Ghast"=false
    B:"TwilightForest.Tower Golem"=false
    B:"TwilightForest.Tower Termite"=false
    B:TwilightForest.Troll=false
    B:"TwilightForest.Twilight Kobold"=false
    B:"TwilightForest.Twilight Lich"=false
    B:"TwilightForest.Twilight Wraith"=false
    B:"TwilightForest.Upper Goblin Knight"=false
    B:"TwilightForest.Wild Boar"=false
    B:"TwilightForest.Wild Deer"=false
    B:TwilightForest.WinterWolf=false
    B:TwilightForest.Yeti=false
    B:"TwilightForest.Yeti Boss"=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:WitherBoss=false
    B:Wolf=false
    B:Zombie=false
}


wimpysettings {
    B:IDontLikeFun=false
    B:RespawnWithDebuff=true
    B:RespawnWithLowerHealth=false
    B:causeHungerWithRegen=true
}


