# Configuration file

general {
    B:baublesButton.enabled=true

    # Set to false to remove the block breaking particles from the flowers and other items in the mod.
    B:blockBreakingParticles.enabled=true

    # Set to false to remove the block breaking particles from the Mana Shatterer, as there can be a good amount in higher levels.
    B:blockBreakingParticlesTool.enabled=true

    # Set to false to disable the wireframe when looking a block bound to something (spreaders, flowers, etc).
    B:boundBlock.wireframe.enabled=true

    # Set to false to disable the animation when an item is charging on top of a mana pool.
    B:chargeAnimation.enabled=true

    # Set to false to disable the Smokey Quartz blocks. This config option is here for those using Thaumic Tinkerer
    B:darkQuartz.enabled=true

    # Set to false to disable the particles in the elven portal.
    B:elfPortal.particles.enabled=true

    # Set to false to disable the ability for the Hand of Ender to pickpocket other players' ender chests.
    B:enderPickpocket.enabled=true

    # Set to false to disable the Fallen Kanade flower (gives Regeneration). This config option is here for those using Blood Magic. Note: Turning this off will not remove ones already in the world, it'll simply prevent the crafting.
    B:fallenKanade.enabled=false

    # Turn off ONLY IF you're on an extremely large world with an exhagerated count of Mana Spreaders/Mana Pools and are experiencing TPS lag. This toggles whether flowers are strict with their checking for connecting to pools/spreaders or just check whenever possible.
    B:flower.forceCheck=true

    # The frequency in which particles spawn from normal (worldgen) mystical flowers
    D:flowerParticles.frequency=0.75

    # Set to true to use alternate flower textures by Futureazoo, not all flowers are textured. http://redd.it/2b3o3f
    B:flowerTextures.alt=false

    # Set to false to disable the rotating items in the petal and rune entries in the Lexica Botania.
    B:lexicon.enable.rotatingItems=true

    # Set to false to disabled the animated 3D render for the lexica botania
    B:lexicon.render.3D=true

    # Set to false to disable the Mana Enchanter. Since some people find it OP or something. This only disables the entry and creation. Old ones that are already in the world will stay.
    B:manaEnchanter.enabled=true

    # Set to true if you are the chosen one. For lovers of glitch art and just general mad people.
    B:matrixMode.enabled=false

    # Set to true to set the power system's particles to be a lot more subtle. Good for low-end systems, if the particles are causing lag.
    B:powerSystem.subtle=false

    # Set to true to use the old (non-.obj, pre beta18) pylon model
    B:pylonModel.old=false

    # Set to false to disable the references in flower tooltips. (You monster D:)
    B:references.enabled=true

    # Set to false to disable the use of shaders for some of the mod's renders.
    B:shaders.enabled=true

    # The average amount of ticks between a blaze randomly dropping a piece of blaze powder. Set to -1 to disable this feature
    I:shedRate.blaze=8000

    # The average amount of ticks between a chicken randomly dropping a feather. Set to -1 to disable this feature
    I:shedRate.chicken=26000

    # The average amount of ticks between a ghast randomly dropping a ghast tear. Set to -1 to disable this feature
    I:shedRate.ghast=9001

    # The average amount of ticks between a skeleton randomly dropping a bone. Set to -1 to disable this feature
    I:shedRate.skeleton=36000

    # The average amount of ticks between a slime randomly dropping a slimeball. Set to -1 to disable this feature
    I:shedRate.slime=21000

    # The average amount of ticks between a spider randomly dropping a piece of string. Set to -1 to disable this feature
    I:shedRate.spider=12000

    # The average amount of ticks between a squid randomly dropping an ink sac. Set to -1 to disable this feature
    I:shedRate.squid=18000

    # The average amount of ticks between a villager randomly dropping an emerald. Set to -1 to disable this feature
    I:shedRate.villager=82000

    # Do not ever touch this value if not asked to. Possible symptoms of doing so include your head turning backwards, the appearance of Titans near the walls or you being trapped in a game of Sword Art Online.
    I:spreader.posShift=1

    # Set to false to disable checking and alerting when new Botania versions come out.
    B:versionChecking.enabled=true

    # Set to true to use a static wand beam that shows every single position of the burst, similar to the way it used to work on old botania versions. Warning: Disabled by default because it may be laggy.
    B:wandBeam.static=false

    # The density of each flower patch generataed, defaults to 32, the lower the number, the less each patch will have.
    I:worldgen.flower.density=9

    # The quanity of flower patches to generate in the world, defaults to 3, the lower the number the less patches geenrate.
    I:worldgen.flower.quantity=3
}


