# Configuration file

blocks {
    B:"Enable Archimedes Screw"=true
    B:"Enable crucible"=true
    B:"Enable engineering table"=true
    B:"Enable fan (disabling this disables vacuum)"=true
    B:"Enable filling pad"=true
    B:"Enable item mortar"=true
    B:"Enable mold block"=true
    B:"Enable nether crucible"=true
    B:"Enable rock smasher"=true
    B:"Enable steam filler"=true
    B:"Enable steam hammer"=true
    B:"Enable steam heater"=true
    B:"Enable steam pressurizer"=true
    B:"Enable thumper"=true
    B:"Enable vacuum"=true
}


exosuit {
    B:"Enable exosuit (disabling also disables all upgrades)"=true
    B:"Passively drain steam while in use"=true
}


"exosuit plates" {
    B:"Enable brass plate"=true
    B:"Enable copper plate"=true
    B:"Enable elementium plate"=true
    B:"Enable enderium plate"=true
    B:"Enable fiery plate"=true
    B:"Enable gold plate"=true
    B:"Enable iron plate"=true
    B:"Enable sadist plate"=true
    B:"Enable terrasteel plate"=true
    B:"Enable thaumium plate"=true
    B:"Enable vibrant plate"=true
    B:"Enable yeti plate"=true
}


"exosuit upgrades" {
    B:"Enable acoustic dampener"=true
    B:"Enable canning machine"=true
    B:"Enable ender shroud"=true
    B:"Enable extendo fist"=true
    B:"Enable fall assist"=true
    B:"Enable heavily reinforced tank"=true
    B:"Enable jetpack"=true
    B:"Enable leap actuator"=true
    B:"Enable modular accelerator"=true
    B:"Enable piton deployer"=true
    B:"Enable power fist"=true
    B:"Enable pulse nozzle"=true
    B:"Enable reinforced tank"=true
    B:"Enable thrusters"=true
    B:"Enable wings"=true
}


integration {
    B:"[Railcraft] Generate Poor Zinc when RC is installed"=true
}


items {
    B:"Enable astrolabe"=true
    B:"Enable canisters"=true
    B:"Enable emerald top hat"=true
    B:"Enable goggles/monacle"=true
    B:"Enable spyglass"=true
    B:"Enable steam tools"=true
    B:"Enable survivalist's toolkit"=true
    B:"Enable top hat"=true
    B:"Enable wrench"=true
}


machines {
    I:"Chance of double drops from Rock Smasher (1 in X)"=4
    I:"Chance of duplicate drops from Buzzsaw( 1 in X)"=6
    I:"Item Mortar accuracy (radius in blocks)"=2
    B:"Thumper drops items (may lag servers)"=true
}


"modular tool" {
    B:"Enable the Chainsaw upgrade"=true
    B:"Enable the Diamond upgrade"=true
    B:"Enable the Drill upgrade"=true
    B:"Enable the Fortune upgrade"=true
    B:"Enable the Heater upgrade"=true
    B:"Enable the Shovel upgrade"=true
    B:"Enable the Silk Touch upgrade"=true
    B:"Enable the Speed upgrade"=true
    B:"Enable the Water upgrade"=true
}


other {
    B:"Disable block break particles (May solve crashes with guns, thumper)"=false
    B:"Enable Easter Eggs"=true
    B:"Enable wimp mode (no explosions)"=false
}


##########################################################################################################
# steamsystem
#--------------------------------------------------------------------------------------------------------#
# Disabling any piece marked crucial disables pretty much the whole mod.
##########################################################################################################

steamsystem {
    B:"Enable boiler (Crucial)"=true
    B:"Enable flash boiler"=true
    B:"Enable horn"=true
    B:"Enable pressure gauge (Crucial)"=true
    B:"Enable rupture disc"=true
    B:"Enable steam pipe (Crucial)"=true
    B:"Enable steam tank (Crucial)"=true
    B:"Enable valve pipe"=true
}


weapons {
    B:"Enable air strike enhancement"=true
    B:"Enable blaze barrel enhancement"=true
    B:"Enable bolt action enhancement"=true
    B:"Enable breech loader enhancement"=true
    B:"Enable concussive rocket"=true
    B:"Enable extended magazine enhancement"=true
    B:"Enable firearms"=true
    B:"Enable makeshift suppressor enhancement"=true
    B:"Enable mining charge"=true
    B:"Enable normal rocket"=true
    B:"Enable recoil pad enhancement"=true
    B:"Enable revolver enhancement"=true
    B:"Enable rocket launcher"=true
    B:"Enable streamlined barrel enhancement"=true
    B:"Hardcore Musket Cartridge recipe (1 gunpowder per cartridge)"=false
    B:"Remove ingot barrel recipe in case of conflicts (keeps plate recipe)"=false
}


"world generation" {
    I:"FSP Villager ID"=694
    B:"Generate Copper"=false
    B:"Generate Zinc"=false
}


