# Configuration file

blocks {
    B:"Enable Archimedes Screw"=true
    B:"Enable Crucible"=true
    B:"Enable Engineering Table"=true
    B:"Enable Fan (disabling this disables Vacuum)"=true
    B:"Enable Filling Pad"=true
    B:"Enable Item Mortar"=true
    B:"Enable Mold block"=true
    B:"Enable Nether Crucible"=true
    B:"Enable Rock Smasher"=true
    B:"Enable Steam Converter"=true
    B:"Enable Steam Filler"=true
    B:"Enable Steam Hammer"=true
    B:"Enable Steam Heater"=true
    B:"Enable Thumper"=true
    B:"Enable Vacuum"=true
    B:"Enable crucible"=true
    B:"Enable engineering table"=true
    B:"Enable fan (disabling this disables vacuum)"=true
    B:"Enable item mortar"=true
    B:"Enable mold block"=true
    B:"Enable rock smasher"=true
    B:"Enable steam filler"=true
    B:"Enable steam hammer"=true
    B:"Enable steam heater"=true
    B:"Enable steam pressurizer"=true
    B:"Enable thumper"=true
    B:"Enable vacuum"=true
}


exosuit {
    B:"Enable Exosuit (disabling also disables all upgrades)"=true
    B:"Enable exosuit (disabling also disables all upgrades)"=true
    B:"Passively drain steam while in use"=true
    I:"The amount of steam jump boost consumes (5 per default)"=10
    I:"The amount of steam the Exosuit consumes (5 per default)"=5
    I:"The amount of steam the Exosuit run assist consumes (5 per default)"=5
    I:"The amount of steam the Exosuit thrusters consumes (5 per default)"=5
    I:"The amount of steam the jetpack consumes (10 per default)"=10
    I:"The amount of steam the jump boost shift jump consumes (10 per default)"=10
}


"exosuit plates" {
    B:"Enable brass plate"=true
    B:"Enable copper plate"=true
    B:"Enable elementium plate"=true
    B:"Enable enderium plate"=true
    B:"Enable fiery plate"=true
    B:"Enable gold plate"=true
    B:"Enable iron plate"=true
    B:"Enable sadist plate"=true
    B:"Enable terrasteel plate"=true
    B:"Enable thaumium plate"=true
    B:"Enable vibrant plate"=true
    B:"Enable yeti plate"=true
}


"exosuit upgrades" {
    B:"Enable Acoustic Dampener"=true
    B:"Enable Canner"=true
    B:"Enable Ender Shroud"=true
    B:"Enable Extendo Fist"=true
    B:"Enable Fall Assist"=true
    B:"Enable Heavily Reinforced Tank"=true
    B:"Enable Leap Actuator"=true
    B:"Enable Modular Accelerator"=true
    B:"Enable Piton Deployer"=true
    B:"Enable Power Fist"=true
    B:"Enable Pulse Nozzle"=true
    B:"Enable Reinforced Tank"=true
    B:"Enable Steam Jetpack"=true
    B:"Enable Thrusters"=true
    B:"Enable Wings"=true
    B:"Enable fall assist"=true
    B:"Enable jetpack"=true
    B:"Enable power fist"=true
    B:"Enable thrusters"=true
    B:"Enable wings"=true
    I:"The amount of steam the basic tank can hold (36000 default)"=36000
    I:"The amount of steam the heavily reinforced tank can hold (90000 default)"=72000
    I:"The amount of steam the reinforced tank can hold (54000 default)"=72000
}


integration {
    B:"Enable Blood Magic"=true
    B:"Enable Botania"=true
    B:"Enable Enchiridion"=true
    B:"Enable Ender IO"=true
    B:"Enable IC2"=true
    B:"Enable Natura"=true
    B:"Enable Thaumcraft"=true
    B:"Enable Thermal Foundation"=true
    B:"Enable Twilight Forest"=true
    B:"Railcraft Poor Ore"=true
    B:"[Railcraft] Generate Poor Zinc when RC is installed"=true
}


items {
    B:"Enable Astrolabe"=true
    B:"Enable Canisters"=true
    B:"Enable Emerald Top Hat"=true
    B:"Enable Goggles/Monocle"=true
    B:"Enable Pipe Wrench"=true
    B:"Enable Spyglass"=true
    B:"Enable Survivalist's Toolkit"=true
    B:"Enable Top Hat"=true
    B:"Enable astrolabe"=true
    B:"Enable spyglass"=true
    B:"Enable steam tools"=true
    B:"Enable survivalist's toolkit"=true
    B:"Enable wrench"=true
}


machines {
    I:"Chance of double drops from Rock Smasher (1 in X)"=4
    I:"Chance of duplicate drops from Buzzsaw (1 in X)"=6
    I:"Item Mortar accuracy (radius in blocks)"=2
    B:"Thumper drops items (may lag servers)"=true
}


"modular tool" {
    B:"Enable the Chainsaw upgrade"=true
    B:"Enable the Diamond upgrade"=true
    B:"Enable the Drill upgrade"=true
    B:"Enable the Fortune upgrade"=true
    B:"Enable the Heater upgrade"=true
    B:"Enable the Modular Tool"=true
    B:"Enable the Shovel upgrade"=true
    B:"Enable the Silk Touch upgrade"=true
    B:"Enable the Speed upgrade"=true
    B:"Enable the Water upgrade"=true
}


other {
    B:"Disable block break particles (May solve crashes with guns, thumper)"=false
    B:"Enable Easter Eggs"=true
    B:"Enable wimp mode (no explosions)"=false
}


##########################################################################################################
# steamsystem
#--------------------------------------------------------------------------------------------------------#
# Disabling any piece marked crucial disables pretty much the whole mod.
##########################################################################################################

steamsystem {
    B:"Enable Boiler (Crucial)"=true
    B:"Enable Flash Boiler"=true
    B:"Enable Horn"=true
    B:"Enable Pressure Gauge (Crucial)"=true
    B:"Enable Rupture Disc"=true
    B:"Enable Steam Pipe (Crucial)"=true
    B:"Enable Steam Tank (Crucial)"=true
    B:"Enable Valve Pipe"=true
    B:"Enable boiler (Crucial)"=true
    B:"Enable flash boiler"=true
    B:"Enable horn"=true
    B:"Enable pressure gauge (Crucial)"=true
    B:"Enable rupture disc"=true
    B:"Enable steam pipe (Crucial)"=true
    B:"Enable steam tank (Crucial)"=true
    B:"Enable valve pipe"=true
}


weapons {
    B:"Enable Air Strike enhancement"=true
    B:"Enable Blaze Barrel enhancement"=true
    B:"Enable Bolt Action enhancement"=true
    B:"Enable Breech Loader enhancement"=true
    B:"Enable Concussive Rocket"=true
    B:"Enable Makeshift Suppressor enhancement"=true
    B:"Enable Mining Charge"=true
    B:"Enable Normal Rocket"=true
    B:"Enable Recoil Pad enhancement"=true
    B:"Enable Revolver enhancement"=true
    B:"Enable Rocket Launcher"=true
    B:"Enable Streamlined Barrel enhancement"=true
    B:"Enable extended Magazine enhancement"=true
    B:"Enable firearms"=true
    B:"Hardcore Musket Cartridge recipe (1 gunpowder per cartridge)"=false
    B:"Remove ingot barrel recipe in case of conflicts (keeps plate recipe)"=false
}


"world generation" {
    I:"FSP Villager ID"=694
    B:"Generate Copper"=false
    B:"Generate End Copper"=false
    B:"Generate End Zinc"=false
    B:"Generate Nether Copper"=false
    B:"Generate Nether Zinc"=false
    B:"Generate Overworld Copper"=true
    B:"Generate Overworld Zinc"=true
    B:"Generate Zinc"=false
}


