# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=2b8a335da1b04737a9a4f6c0c805a51d
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal or old [default: normal]
    S:recipes=normal
    I:remoteThermalMonitorEnergyConsumption=1
}


