#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Sun Aug 03 10:29:22 CDT 2014
enableMiddleClick=true
showChestButtons=true
enableSortingOnPickup=false
enableAutoRefill=true
autoRefillBeforeBreak=false
autoRefillDamageThreshhold=5
enableSounds=true
enableShortcuts=false
enableAutoEquipArmor=false
enableServerItemSwap=true
shortcutKeyAllItems=LCONTROL+LSHIFT, RCONTROL+RSHIFT
shortcutKeyEverything=SPACE
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyToUpperSection=UP
shortcutKeyToLowerSection=DOWN
shortcutKeyDrop=LALT, RALT
version=UNKNOWN
