# Configuration file

blocks {
    B:CarpentryBench=true
    B:CustomWorkbench=true
    B:DyeingMachine=true
    B:FertilizedDirt=true
    B:FluidDisplay=true
    B:ImbuingStation=true
    B:ItemCollector=true
    B:LapisLamp=true
    B:MoonSensor=true
    B:NotificationInterface=true
    B:OnlineDetector=true
    B:PlayerInterface=true
    B:WirelessLever=true
}


dungeonloot {
    I:WhiteStone=3
}


items {
    B:BiomePainter=true
    B:BiomeSolution=true
    B:CreativeChestGenerator=true
    B:CreativeGrower=true
    B:CreativeSword=true
    B:Demorpher=true
    B:DropFilter=true
    B:EnderLetter=true
    B:Imbues=true
    B:MagneticForce=true
    B:SoundRecorder=true
    B:SpectreArmor=true
    B:SpectreKey=true
    B:SpectreSword=true
    B:SpiritBinder=true
    B:VoidStone=true
    B:Whitestone=true
}


##########################################################################################################
# potionids
#--------------------------------------------------------------------------------------------------------#
# Setting these to -1 will auto resolve them. If RandomThings finds a potion at the position of the specified id it will try to find a free one. It will also dynamically increase the size of the potion array if necessary.
##########################################################################################################

potionids {
    I:ImbueExperience=36
    I:ImbueFire=37
    I:ImbuePoison=35
    I:ImbueSpectre=40
    I:ImbueWeakness=39
    I:ImbueWither=38
}


settings {
    # The amount of ticks the biome capsule needs to collect 1 charge
    I:BiomeChargeTime=20

    # Bonemeal particles will appear whenever fertilized dirt boosts the plant
    B:FertilizedDirtGrowthIndicator=false

    # How often should Fertilize Dirt tick the plant above it when it's ticked itself?
    I:FertilizedDirtGrowthModifier=1

    # The duration of imbues (in ticks)
    I:ImbueDuration=6000

    # A random number from 0-thisconfigoption will be added to the decay speed for every Leave. Setting this to 0 will decay leaves rather linear while higher numbers will let the whole thing look more natural
    I:LeaveDecayFuzz=5

    # The amount of ticks every leave needs to decay (Lower is faster)
    I:LeaveDecaySpeed=7

    # In ticks (20=1 Second)
    I:MagneticForceTeleportLength=200

    # The Dimension ID of the spectre World. On first run and when you set this setting to -1 RandomThings will try to find a dimensionID itself
    I:SpectreDimensionID=2

    # The chance of phasing through an attack while being imbued with spectre
    D:SpectreImbueChance=0.1

    # The chance of a spirit spawning when you don't use a Spectre Sword (0-1)
    D:SpiritChance=0.02

    # The chance of a spirit spawning when you have a spirit binder in your inventory and kill the entity with a spectre sword. (0-1)
    D:SpiritChanceSword=0.1

    # The range of a wireless lever in blocks
    I:WirelessLeverRange=10
}


vanillachanges {
    # Leaves will decay much faster when no longer connected to a log
    B:FasterLeaveDecay=true

    # The minimum light will be removed so if there's no light source it's actually going to be completely black
    B:"Hardcore Darkness"=false

    # Locks the Gamma to 0
    B:LockedGamma=false

    # The normal dirt background will be replaced with a different block each start
    B:ModifiedBackgrounds=true

    # When you throw something or shoot an arrow the motion of the player will be added to the motion of the projectile
    B:ThrowableMotion=false

    # If this is not empty the options background will not be random but the one specified here. This has to be the name of a block texture without the .png
    S:fixedBackground=
}


