# Configuration file

tweaks {
    # This includes ForgeMicroblocks, ExtraUtils microblocks, BC Facades, and AE Facades.
    B:Hide_Microblocks_From_NEI=true

    # Mob spawners, portals, fire, and still liquid source blocks.
    B:Hide_VanillaCrap_From_NEI=true
    B:Shut_Up_Missing_Texture_Spam=true
}


updater {
    B:check=true
}


