# Configuration file

Equipment {

    Copper {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Tin {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Silver {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Lead {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Nickel {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Electrum {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Invar {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Bronze {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Platinum {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

}


Fluid {

    Redstone {
        # Enable this for Fluid Redstone to emit a signal proportional to its fluid level.
        B:Effect=true
    }

    Glowstone {
        # Enable this for Fluid Glowstone Source blocks to condense back into solid Glowstone above a given y-value.
        B:Condense=true

        # Enable this for Fluid Glowstone to do...something.
        B:Effect=true

        # Enable this for Fluid Glowstone Source blocks to gradually float upwards.
        B:Float=true

        # This adjusts the y-value where Fluid Glowstone will *always* condense, if that is enabled. It will also condense above 80% of this value, if it cannot flow.
        I:MaxHeight=120
    }

    Ender {
        # Enable this for Fluid Ender to randomly teleport entities on contact.
        B:Effect=true
    }

    Pyrotheum {
        # Enable this for Fluid Pyrotheum to be worse than lava.
        B:Effect=true

        # Enable this for Fluid Pyrotheum Source blocks to gradually fall downwards.
        B:Fall=true
    }

    Cryotheum {
        # Enable this for Fluid Cryotheum to be worse than lava, except cold.
        B:Effect=true

        # Enable this for Fluid Cryotheum Source blocks to gradually fall downwards.
        B:Fall=true
    }

    Mana {
        # Enable this for Fluid Mana to do...things.
        B:Effect=true
    }

    Coal {
        # Enable this for Fluid Coal to be flammable.
        B:Flammable=true
    }

}


Lexicon {
    # This will generate a default list file depending on your list setting. This will ONLY generate if no list file already exists.
    B:GenerateDefaultList=true

    # This will echo all entries to the system log.
    B:LogEntries=false

    # Set to true for a whitelist, FALSE for a blacklist
    B:UseWhiteList=true
}


Mob {

    Blizz {
        # Set this to false to disable Blizzes entirely. Jerk.
        B:Enable=true

        # Set this to false for the Blizz to use a mod-specific ID; this removes the Spawn Egg.
        B:UseGlobalId=true

        Spawn {
            # This sets the maximum light level Blizzes can spawn at, if restricted.
            I:Light.Level=8

            # Set this to true for Blizzes to only below the light level setting.
            B:Light.Limit=false

            # This sets the maximum light number of Blizzes that spawn in a group.
            I:MaxGroupSize=4

            # This sets the minimum number of Blizzes that spawn in a group.
            I:MinGroupSize=1

            # This sets the relative spawn weight for Blizzes.
            I:SpawnWeight=10
        }

    }

}


Version {
    S:Identifier=1.7.10R1.0.0RC1
}


World {
    # If enabled, Thermal Foundation will create default world generation files - if it cannot find existing ones. Only disable this if you know what you are doing.
    B:GenerateDefaultFiles=true
}


