# Configuration file

"feature control" {
    B:"Concapede Natural Despawning"=false
    B:"Concapede Peaceful Spawning"=true
    I:"Concapede Size Limit"=10
    B:"Control Vanilla Mobs"=true
    B:"Enable Quick Webs"=true
    S:"Group Biome Types"=JUNGLE
    S:"Group Dimensions"=0
}


"mob control" {
    S:"Group Stat Damage Boost"=0
    S:"Group Stat Damage Multiplier"=1.0
    S:"Group Stat Defense Boost"=0
    S:"Group Stat Defense Multiplier"=1.0
    S:"Group Stat Effect Boost"=0
    S:"Group Stat Effect Multiplier"=1.0
    S:"Group Stat Haste Boost"=0
    S:"Group Stat Haste Multiplier"=1.0
    S:"Group Stat Speed Boost"=0
    S:"Group Stat Speed Multiplier"=1.0
}


"mob control - general" {
    B:"Concapede Allowed On Peaceful Difficulty"=true
    S:"Concapede Custom Drops"=
    B:"Concapede Enable Default Drops"=true
    B:"Concapede Enabled"=true
    B:"ConcapedeSegment Allowed On Peaceful Difficulty"=true
    S:"ConcapedeSegment Custom Drops"=
    B:"ConcapedeSegment Enable Default Drops"=true
    B:"ConcapedeSegment Enabled"=true
    B:"Geken Allowed On Peaceful Difficulty"=false
    S:"Geken Custom Drops"=
    B:"Geken Enable Default Drops"=true
    B:"Geken Enabled"=true
    B:"Tarantula Allowed On Peaceful Difficulty"=false
    S:"Tarantula Custom Drops"=
    B:"Tarantula Enable Default Drops"=true
    B:"Tarantula Enabled"=true
    B:"Uvaraptor Allowed On Peaceful Difficulty"=false
    S:"Uvaraptor Custom Drops"=
    B:"Uvaraptor Enable Default Drops"=true
    B:"Uvaraptor Enabled"=true
}


"mob control - stats" {
    S:"Concapede Stat Damage Boost"=GROUP
    S:"Concapede Stat Damage Multiplier"=GROUP
    S:"Concapede Stat Defense Boost"=GROUP
    S:"Concapede Stat Defense Multiplier"=GROUP
    S:"Concapede Stat Effect Boost"=GROUP
    S:"Concapede Stat Effect Multiplier"=GROUP
    S:"Concapede Stat Haste Boost"=GROUP
    S:"Concapede Stat Haste Multiplier"=GROUP
    S:"Concapede Stat Speed Boost"=GROUP
    S:"Concapede Stat Speed Multiplier"=GROUP
    S:"ConcapedeSegment Stat Damage Boost"=GROUP
    S:"ConcapedeSegment Stat Damage Multiplier"=GROUP
    S:"ConcapedeSegment Stat Defense Boost"=GROUP
    S:"ConcapedeSegment Stat Defense Multiplier"=GROUP
    S:"ConcapedeSegment Stat Effect Boost"=GROUP
    S:"ConcapedeSegment Stat Effect Multiplier"=GROUP
    S:"ConcapedeSegment Stat Haste Boost"=GROUP
    S:"ConcapedeSegment Stat Haste Multiplier"=GROUP
    S:"ConcapedeSegment Stat Speed Boost"=GROUP
    S:"ConcapedeSegment Stat Speed Multiplier"=GROUP
    S:"Geken Stat Damage Boost"=GROUP
    S:"Geken Stat Damage Multiplier"=GROUP
    S:"Geken Stat Defense Boost"=GROUP
    S:"Geken Stat Defense Multiplier"=GROUP
    S:"Geken Stat Effect Boost"=GROUP
    S:"Geken Stat Effect Multiplier"=GROUP
    S:"Geken Stat Haste Boost"=GROUP
    S:"Geken Stat Haste Multiplier"=GROUP
    S:"Geken Stat Speed Boost"=GROUP
    S:"Geken Stat Speed Multiplier"=GROUP
    S:"Tarantula Stat Damage Boost"=GROUP
    S:"Tarantula Stat Damage Multiplier"=GROUP
    S:"Tarantula Stat Defense Boost"=GROUP
    S:"Tarantula Stat Defense Multiplier"=GROUP
    S:"Tarantula Stat Effect Boost"=GROUP
    S:"Tarantula Stat Effect Multiplier"=GROUP
    S:"Tarantula Stat Haste Boost"=GROUP
    S:"Tarantula Stat Haste Multiplier"=GROUP
    S:"Tarantula Stat Speed Boost"=GROUP
    S:"Tarantula Stat Speed Multiplier"=GROUP
    S:"Uvaraptor Stat Damage Boost"=GROUP
    S:"Uvaraptor Stat Damage Multiplier"=GROUP
    S:"Uvaraptor Stat Defense Boost"=GROUP
    S:"Uvaraptor Stat Defense Multiplier"=GROUP
    S:"Uvaraptor Stat Effect Boost"=GROUP
    S:"Uvaraptor Stat Effect Multiplier"=GROUP
    S:"Uvaraptor Stat Haste Boost"=GROUP
    S:"Uvaraptor Stat Haste Multiplier"=GROUP
    S:"Uvaraptor Stat Speed Boost"=GROUP
    S:"Uvaraptor Stat Speed Multiplier"=GROUP
}


"mob spawning - chance" {
    I:"Concapede Spawn Chance"=100
    I:"Concapede Spawn Dungeon Weight"=0
    I:"Concapede Spawn Weight"=18
    I:"ConcapedeSegment Spawn Chance"=100
    I:"ConcapedeSegment Spawn Dungeon Weight"=0
    I:"ConcapedeSegment Spawn Weight"=0
    I:"Geken Spawn Chance"=100
    I:"Geken Spawn Dungeon Weight"=200
    I:"Geken Spawn Weight"=8
    I:"Tarantula Spawn Chance"=100
    I:"Tarantula Spawn Dungeon Weight"=150
    I:"Tarantula Spawn Weight"=6
    I:"Uvaraptor Spawn Chance"=100
    I:"Uvaraptor Spawn Dungeon Weight"=125
    I:"Uvaraptor Spawn Weight"=5
}


"mob spawning - despawning" {
    B:"Concapede Forced Despawning"=false
    B:"Concapede Natural Despawning"=false
    B:"ConcapedeSegment Forced Despawning"=false
    B:"ConcapedeSegment Natural Despawning"=false
    B:"Geken Forced Despawning"=false
    B:"Geken Natural Despawning"=true
    B:"Tarantula Forced Despawning"=false
    B:"Tarantula Natural Despawning"=true
    B:"Uvaraptor Forced Despawning"=false
    B:"Uvaraptor Natural Despawning"=true
}


"mob spawning - limits" {
    I:"Concapede Spawn Area Limit"=10
    I:"Concapede Spawn Group Size Max"=3
    I:"Concapede Spawn Group Size Min"=1
    I:"Concapede Spawn Required Block Amount"=1
    I:"ConcapedeSegment Spawn Area Limit"=0
    I:"ConcapedeSegment Spawn Group Size Max"=0
    I:"ConcapedeSegment Spawn Group Size Min"=0
    I:"ConcapedeSegment Spawn Required Block Amount"=1
    I:"Geken Spawn Area Limit"=10
    I:"Geken Spawn Group Size Max"=3
    I:"Geken Spawn Group Size Min"=1
    I:"Geken Spawn Required Block Amount"=1
    I:"Tarantula Spawn Area Limit"=10
    I:"Tarantula Spawn Group Size Max"=2
    I:"Tarantula Spawn Group Size Min"=1
    I:"Tarantula Spawn Required Block Amount"=1
    I:"Uvaraptor Spawn Area Limit"=10
    I:"Uvaraptor Spawn Group Size Max"=3
    I:"Uvaraptor Spawn Group Size Min"=1
    I:"Uvaraptor Spawn Required Block Amount"=1
}


"mob spawning - location" {
    S:"Concapede Spawn Biome Types"=GROUP
    S:"Concapede Spawn Dimensions"=GROUP
    S:"ConcapedeSegment Spawn Biome Types"=NONE
    S:"ConcapedeSegment Spawn Dimensions"=NONE
    S:"Geken Spawn Biome Types"=GROUP
    S:"Geken Spawn Dimensions"=GROUP
    S:"Tarantula Spawn Biome Types"=GROUP
    S:"Tarantula Spawn Dimensions"=GROUP
    S:"Uvaraptor Spawn Biome Types"=GROUP
    S:"Uvaraptor Spawn Dimensions"=GROUP
}


"mob spawning - type" {
    B:"Concapede Spawn Enabled"=true
    S:"Concapede Spawn Type"=CREATURE
    B:"ConcapedeSegment Spawn Enabled"=false
    S:"ConcapedeSegment Spawn Type"=CREATURE
    B:"Geken Spawn Enabled"=true
    S:"Geken Spawn Type"=MONSTER
    B:"Tarantula Spawn Enabled"=true
    S:"Tarantula Spawn Type"=MONSTER
    B:"Uvaraptor Spawn Enabled"=true
    S:"Uvaraptor Spawn Type"=MONSTER
}


